---
import BaseLayout from '../layouts/BaseLayout.astro';



// 1. CONFIGURACIÓN Y VARIABLES
//const DIRECTUS_URL = 'http://localhost:8055';

const coloresCategorias = {
  "Entradas": "#fbbf24", 
  "Hamburguesas": "#ef4444", 
  "Cervezas": "#f59e0b", 
  "Pizzas": "#f97316", 
  "Postres": "#ec4899", 
  "default": "#64748b"
};

---

<BaseLayout title="Menú | Valhalla Crew">
    

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
        <section class="lg:col-span-3">
           
        </section>

        {/* COLUMNA LATERAL (HORARIOS) */}
   
    </div>

</BaseLayout>